.Jumbotron {
    height: 40%;
    width: 80%;
    color: white;
    
    font-weight: 500;
    text-shadow: 8px 8px 8px #000000;
    margin-top: 8vw;
    

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    cursor: default;
}

.JumbotronLarge {
    font-size: 4vw;
    margin-left: 14vw;
}

.JumbotronMedium {
    font-size: 6vw;
    margin-left: 14vw;
    margin-top: 14vh;
}

.JumbotronSmall {
    font-size: 8vw;
    text-align: center;
    margin: 20vh auto;
}

.JumbotronExtraSmall {
    font-size: 11vw;
    text-align: center;
    margin: 20vh auto;
}

.SubText {
    margin-top: 20px;
}

.SubTextLarge {
    font-size: 1.5vw;
}

.SubTextMedium {
    font-size: 2.2vw;
}

.SubTextSmall {
    font-size: 2.5vw;
}

.SubTextExtraSmall {
    font-size: 4.5vw;
}

.ReadMore {
    border: none;
    cursor: pointer;
    
    background-color: rgb(236, 46, 71);
    color: white;

    -moz-transition: background-color .15s ease-in;
    -o-transition: background-color .15s ease-in;
    -webkit-transition: background-color .15s ease-in;
    transition: background-color .15s ease-in;
}

.ReadMoreLarge {
    height: 2vw;
    width: 7vw;
    font-size: 0.9vw;
}

.ReadMoreMedium {
    height: 3.5vw;
    width: 12vw;
    font-size: 1.7vw;
}

.ReadMoreSmall {
    height: 6vw;
    width: 18vw;
    font-size: 2.5vw;
}

.ReadMoreExtraSmall {
    margin-top: 30px;
    height: 10vw;
    width: 28vw;
    font-size: 4vw;
}

.ReadMore:hover {
    background-color: rgb(216, 41, 64)
}

.ReactTitle {
    color: rgb(97, 218, 251);
}

.NodeTitle {
    color: rgb(63, 163, 54);
}