.ProjectsTitle {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.6vw;
    height: 3vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    color: rgb(185, 185, 185);
    border-bottom: 1px solid #ccc;
}