.ToolbarBtn {
    width: 110px;
    padding: 0;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 4px 0;
    font-weight: 400;
}

.ToolbarBtnLarge {
    height: 80px;
}

.ToolbarBtnSmall {
    height: 50px;
}

.ToolbarBtnWhite {
    color: rgb(255, 255, 255);
}

.ToolbarBtnBlack {
    color: #000000;
}

.ToolbarBtnActive {
    border-bottom: 3px solid rgb(236, 46, 71);
    margin-bottom: -3px;
}

.ToolbarBtn:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(236, 46, 71);
    margin-bottom: -3px;
}

.ToolbarBtnActive {
    border-bottom: 3px solid rgb(236, 46, 71);
    margin-bottom: -3px;
}