.ContactContainer {

    padding-top: 2vw;
    
    margin: 0 auto;
    margin-top: 1vw;
    background-color: white;
    box-shadow: 0px 0px 3px rgb(231, 231, 231);
}

.ContactContainerLarge {
    width: 50%;
    height: 30vh;
}

.ContactContainerMedium {
    width: 70%;
    height: 30vh;
}

.ContactContainerSmall {
    width: 80%;
    height: 30vh;
}

.ContactContainerExtraSmall {
    width: 90%;
    height: 20vh;
}


.Email {
    
}

.EmailLarge {
    margin-top: 2vw;
    margin-left: 2.4vw;
    font-size: 1.7vw;
}

.EmailMedium {
    margin-top: 2vw;
    margin-left: 3vw;
    font-size: 3vw;
}

.EmailSmall {
    margin-top: 2vw;
    margin-left: 3vw;
    font-size: 4.5vw;
}

.EmailExtraSmall {
    margin-top: 2vw;
    margin-left: 5vw;
    font-size: 5.5vw;
}

.LinkedInIcon {
    display: inline-block;
}

.LinkedInIconLarge {
    margin-top: 0.5vw;
    margin-left: 0.1vw;
    max-width: 2vw;
    max-height: 2vw;
}

.LinkedInIconMedium {
    margin-top: 0.5vw;
    margin-left: 0.1vw;
    width: 3.5vw;
    height: 3.5vw;
}

.LinkedInIconSmall {
    margin-top: 0.5vw;
    margin-left: 0.2vw;
    width: 5.5vw;
    height: 5.5vw;
}

.LinkedInIconExtraSmall {
    margin-top: 0.5vw;
    margin-left: 0.2vw;
    width: 6.3vw;
    height: 6.3vw;
}

.LinkedInText {
    display: inline-block;
    
    margin-top: 0.5vw;
}

.LinkedInTextLarge {
    font-size: 1.7vw;
    height: 3vw;
}

.LinkedInTextMedium {
    font-size: 3vw;
    height: 3vw;
}

.LinkedInTextSmall {
    font-size: 4.5vw;
    height: 3vw;
}

.LinkedInTextExtraSmall {
    font-size: 5.5vw;
    height: 3vw;
}

.LinkedIn {
    display: flex;
    cursor: pointer;
    
}

.LinkedInLarge {
    margin-top: 2vw;
    margin-left: 2.4vw;
    max-width: 7.1vw;
    height: 3vw;
}

.LinkedInMedium {
    margin-top: 2vw;
    margin-left: 3vw;
    max-width: 7.1vw;
    height: 3vw;
}

.LinkedInSmall {
    margin-top: 2vw;
    margin-left: 3vw;
    max-width: 7.1vw;
    height: 3vw;
}

.LinkedInExtraSmall {
    margin-top: 2vw;
    margin-left: 5vw;
    max-width: 7.1vw;
    height: 3vw;
}

.LinkedIn:hover {
    border-bottom: 2px solid red;
}