.DrawerItem {
    cursor: pointer;
    padding-left: 35px;
    height: 40px;
    display: flex;
    align-items: center;
    color: black;
}

.DrawerItem:hover {
    background-color: #e0e0e0;
    color: black;
}