.AboutSideBarLarge {
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.AboutSideBarMedium {
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.AboutSideBarSmall {
    display: flex;
}

.AboutSideBarExtraSmall {
    display: flex;
}

.Portrait {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 50%;
}

.PortraitSmall {
    max-width: 200px;
    max-height: 200px;
}

.PortraitExtraSmall {
    max-width: 200px;
    max-height: 200px;
}

.SideBarBorder {
    margin-top: 40px;
    height: 90%;
    border-left: 1px solid #cccccc;
}