.AboutMe {
    background-color: rgb(243, 243, 243);
    min-height: 100vh;
    margin-top: 2px;
}

.AboutMeContent {
    display: grid;
    grid-template-columns: 2fr 5fr;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.AboutMeTitle {
    margin: 0 auto;
    padding-top: 40px;
    font-size: 1.6vw;
    height: 3vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    color: rgb(185, 185, 185);
    border-bottom: 1px solid #ccc;
}